a {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: white;
}
.button-responsive {
    display: none
}
mat-toolbar {
    background-color: #0071BD;
}
@media (max-width: 573px) {
    .button-responsive {
        display: inline-block
    }

    .menu-responsive {
        display: none
    }
}