a {
    text-decoration: none;
    color: #0071BD;
    border: 2px solid transparent;
    transition: border-color 0.7;
}
a:hover {
    border-bottom-color: #0071BD;
    text-decoration: none;
    color: #0071BD;
}
.button-responsive {
    display: none
}
mat-toolbar {
    background-color: white;
}
@media (max-width: 573px) {
    .button-responsive {
        display: inline-block
    }

    .menu-responsive {
        display: none
    }
}

.brand-log {
    width: 100px;
}