<mat-toolbar>
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            <figure>
                <img class="brand-log" src="../../../../../assets/logo/logo-devrecruiter.png" alt="Logo DevRecruiter">
                <figcaption>Logo DevRecruiter</figcaption>
            </figure>
        </div>
        <ul class="d-flex pt-3">
            <li *ngFor="let item of menuItems" class="mx-2"><a [href]="item.href">{{item.label}}</a></li>
        </ul>
    </div>
</mat-toolbar>