<app-not-logged-nav></app-not-logged-nav>
<section>
    <main>
        <section class="container">
            <section class="row py-3 align-items-center">
                <div class="text-center text-lg-start col-12 col-lg-6">
                    <p class="mat-subheading-1">Recrutadora</p>
                    <h1 class="mat-display-2 m-0 p-0">O que é o devrecruiter?</h1>
                    <p class="mat-subheading-1">Somos uma plataforma que conecta alunos com suas  competências a empresas, com o objetivo de diminuir a lacuna da falta  profissionais qualificados, gerando empregabilidade.</p>
                </div>
                <div class="col-12 col-lg-6">
                    <img class="img-fluid" alt=""
                        src="../../../../../assets/img/static/landing-page/Agreement-rafiki.png">
                </div>
            </section>
        </section>

        <section>
            <section>
                <img class="wave" alt="Onda top" src="../../../../../assets/img/static/landing-page/wave-top.png">
            </section>
            <section class="bg-white ">
                <section class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-6">
                            <img class="img-fluid"
                                src="../../../../../assets/img/static/landing-page/Instant-information-pana.png">
                        </div>
                        <section class="col-12 py-5 py-lg-0 col-lg-6">
                            <h2>Sobre o DevRecruiter</h2>
                            <p>
                                Plataforma que conecta alunos, suas ideias e competências a empresas, gerando valor
                                para o
                                futuros
                                profissionais da área, impactando positivamente no preenchimento do mercado de
                                trabalho de TI
                            </p>
                        </section>
                    </div>
                </section>
            </section>
            <section>
                <img class="wave" alt="Onda top" src="../../../../../assets/img/static/landing-page/wave-bottom.png">
            </section>
        </section>

        <section class="py-5 container">
            <h2 class="text-center">Benefícios</h2>

            <ul class="py-5 d-flex flex-wrap justify-content-between">
                <li>Ganho de tempo</li>
                <li>Economia de custos</li>
                <li>Recrutadora na sua mão</li>
            </ul>
        </section>
    </main>
</section>

<app-notlogged-footer></app-notlogged-footer>