<mat-drawer-container class="example-container">
    <mat-drawer class="side-bar" mode="side" [opened]="true">
        <ul>
            <li>Perfil</li>
            <li>Vagas</li>
            <li>Vagas</li>
            <li>Vagas</li>
            <li>Vagas</li>
            <li>Vagas</li>
            <li>Vagas</li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <app-navbar-internal></app-navbar-internal>
            <app-footer-internal></app-footer-internal>
        </div>
    </mat-drawer-content>
</mat-drawer-container>