<mat-drawer-container class="example-container">
    <mat-drawer class="side-bar" mode="side" opened>
        <ul>
            <li>Perfil</li>
            <li>Vagas</li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <app-navbar-student></app-navbar-student>
            <app-header-student></app-header-student>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<app-footer-student></app-footer-student>