<nb-layout>
    <nb-layout-header fixed>
        <div class="d-flex w-100 justify-content-between">
            <a href="#" (click)="toggle()"><i class="nb-menu">devRecruiter</i></a>
            <div class="d-flex justify-content-end">
                User
                <img src="asda" class="img-fluid px-4">
            </div>
        </div>
    </nb-layout-header>

    <nb-sidebar>
        <ul>
            <li><a>Curriculo</a></li>
            <li><a>Vagas</a></li>
            <li><a>Perfil</a></li>
            <li><a>Sair</a></li>
        </ul>
    </nb-sidebar>

    <nb-layout-column class="colored-column-basic">

        <nb-layout-header subheader>
            <nb-actions>
                <nb-action icon="home-outline"></nb-action>
                <nb-action icon="search-outline"></nb-action>
                <nb-action icon="edit-outline"></nb-action>
            </nb-actions>
        </nb-layout-header>

        <section>
            <router-outlet></router-outlet>
        </section>

    </nb-layout-column>
</nb-layout>