<section>
    <div class="container py-4">
        <mat-divider class="my-4"></mat-divider>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
                <h2 class="mat-title">Dev Recruiter</h2>
                <p class="mat-subheading-1">
                    Desenvolvido por DevBox
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
                <h2 class="mat-title">Contact</h2>
                <ul class="d-flex flex-column">
                    <li>Email: devrecruiter@gmail.com</li>
                    <li>Telefone: (00)-000000000</li>
                    <li>instagram: @devRecruiter</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
                <h2 class="mat-title">Contants</h2>
                <ul class="d-flex flex-column">
                    <li><a href="https://storyset.com/online">Online illustrations by Storyset</a></li>
                </ul>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="text-center pt-2">
            <h2 class="mat-title">© Copyright 2022 DevBox.</h2>
        </div>
    </div>
</section>