<section class="container">
    <section>
        <div class="text-center"><h4 class="mat-subheading-1">Nome: Augusto Wesley</h4></div>
        <section>
            <h4>Caracteristicas</h4>
            <ul>
                <li>Caracteristica: 1</li>
                <li>Caracteristica: 2</li>
                <li>Caracteristica: 3</li>
                <li>Caracteristica: 4</li>
            </ul>
        </section>
        <section>
            <h4>Habilidades</h4>
            <ul>
                <li>Habilidades: 1</li>
                <li>Habilidades: 2</li>
                <li>Habilidades: 3</li>
                <li>Habilidades: 4</li>
            </ul>
        </section>
    </section>
</section>