<section class="container">
    <section>
        <div>
            <h4 class="mat-title primary">Nome: {{ resume.name }}</h4>
        </div>
        <section>
            <h4>Curriculo</h4>
            <ul>
                <li>Nome: {{ resume.name }}</li>
                <li>Descrição {{ resume.description }}</li>
                <li>HardSkill: {{ resume.HardSkill }}</li>
                <li>SoftSkill: {{ resume.SoftSkill }}</li>
                <li>Contato: {{ resume.contact }}</li>
            </ul>
        </section>
    </section>
</section>