<nb-layout>
  <nb-layout-column class="d-flex align-items-center">
    <nb-card>
      <nb-card-body>
        <section class="row d-flex justify-content-center mb-3">
          <h1 class="text-center mb-5 mt-3">Recuperar Senha</h1>

          <section>
            <p class="text-secondary">
              Insira um e-mail para recuperar sua senha
            </p>
          </section>

          <form>
            <section>
              <input
                type="text"
                nbInput
                class="col-12"
                fieldSize="large"
                shape="rectangle"
                placeholder="E-mail"
              />
            </section>

            <section class="d-flex justify-content-center mt-3">
              <button nbButton size="medium" status="primary">Enviar</button>
            </section>
          </form>
        </section>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
