<nb-layout>
    <nb-layout-header fixed>
        Dev Recruiter
        <button nbButton ghost class="button-responsive" [nbContextMenu]="allitems">
            <nb-icon icon="menu-outline"></nb-icon>
        </button>
    </nb-layout-header>

    <nb-layout-column class="m-0 p-0">
        <main>
            <section class="container">
                <section class="row py-3 align-items-center">
                    <div class="text-center text-lg-start col-12 col-lg-6">
                        <p>Recrutadora</p>
                        <h1>O que é o devrecruiter?</h1>
                        <p>Somos uma plataforma de exibição de alunos e candidatados</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img class="img-fluid" alt="" src="../../../../../assets/img/not-logged/homepage/Agreement-rafiki.png">
                    </div>
                </section>
            </section>

            <section> 
                <section>
                    <img class="wave" alt="Onda top" src="../../../../../assets/img/not-logged/homepage/wave-top.png"> 
                </section>
                <section class="bg-white ">
                    <section class="container">
                        
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-6">
                            <img class="img-fluid" src="../../../../../assets/img/not-logged/homepage/Instant-information-pana.png">
                        </div>
                        <section class="col-12 py-5 py-lg-0 col-lg-6">
                            <h2>Sobre o DevRecruiter</h2>
                            <p>
                                Plataforma que conecta alunos, suas ideias e competências a empresas, gerando valor para o
                                futuros
                                profissionais da área, impactando positivamente no preenchimento do mercado de trabalho de TI
                            </p>
                        </section>
                    </div>
                    </section>
                </section>
                <section >
                    <img class="wave" alt="Onda top" src="../../../../../assets/img/not-logged/homepage/wave-bottom.png"> 
                </section>
            </section>

            <section class="py-5 container">
                <h2 class="text-center">Benefícios</h2>

                <ul class="py-5 d-flex flex-wrap justify-content-between">
                    <li>Ganho de tempo</li>
                    <li>Economia de custos</li>
                    <li>Recrutadora na sua mão</li>
                </ul>
            </section>
        </main>
    </nb-layout-column>

    <nb-layout-footer>
        <h4>Roda pé</h4>
    </nb-layout-footer>
</nb-layout>