<nb-layout>
    <nb-layout-header>
        <div>
            <a href="#">Logo</a>
        </div>
        <div>
            <a href="#">Sobre</a>
            <a href="#">Sobre</a>
            <a href="#">Entrar</a>
            <a href="#">Registro</a>
        </div>
    </nb-layout-header>

    <nb-layout-column>
        <main>
            <section>
                <h1>O que é o devrecruiter?</h1>

                <p>
                    Somos uma plataforma de exibição de alunos e candidatados
                </p>
            </section>

            <section>
                <h2>Sobre o DevRecruiter</h2>
                <p>
                    Plataforma que conecta alunos, suas ideias e competências a empresas, gerando valor para o futuros
                    profissionais da área, impactando positivamente no preenchimento do mercado de trabalho de TI
                </p>
            </section>

            <section>
                <h2>Benefícios</h2>

                <ul>
                    <li>Ganho de tempo</li>
                    <li>Economia de custos</li>
                    <li>Recrutadora sua mãe</li>
                </ul>
            </section>
        </main>
    </nb-layout-column>

    <nb-layout-footer>É o rodas</nb-layout-footer>
</nb-layout>