<section >
    <div>
        <h2>Curriculo: </h2>
    </div>

    <section>
        <div class="d-flex justify-content-center">
            <form class="d-flex flex-column">
                <mat-form-field appearance="legacy">
                    <mat-label>Nome do curriculo</mat-label>
                    <input matInput type="text" class="col-12" placeholder="Nome do curriculo" />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" class="col-12" placeholder="Descrição" />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Descrição</mat-label>
                    <input matInput type="text" class="col-12" placeholder="Descrição" />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Caracteristica</mat-label>
                    <input matInput type="password" class="col-12" placeholder="Caracteristica" />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Habilidades</mat-label>
                    <input matInput type="password" class="col-12" placeholder="Habilidades" />
                </mat-form-field>
            </form>
        </div>
    </section>
</section>
